@import "../../basics/variables";
@import "../../basics/base";
@import '../../basics/breakpoints';
@mixin line {
  font-family: $BaseFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.29px;
  color: $PrimaryColorBlack;
}
.about-us-container {
  background-color: $SeconderyLightGray;
  height: 100%;
  width: 100%;
  
}
.about-us-content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.about-us-logo {
  margin-top: 20px;
  height: 100px;
  width: 100px;
}
.about-us-download {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 12px;
  gap: 7px;

  width: 180px;
  height: 50px;

  border: 0.5px solid #000000;
  border-radius: 10px;

  img {
    width: 20px;
    height: 25px;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 130px;
    height: 40px;
    .line-one {
      @include line;
    }
    .line-two {
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.about-us-text {
    margin-right: 20px;
    margin-bottom: 40px;

  p{
    font-family: $BaseFont;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.14px;
  color: $PrimaryColorBlack;
  }
}
