@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
.hero-main {
  //height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 45px;
}
.hero-img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.box {
  background: rgba(255, 255, 255, 0.88);
  position: absolute;
  width: 335px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  .text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 16px;
  }
  .search {
  margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    width: 315px;
    height: 30px;
    border: 0.5px solid $PrimaryColorBlack;
    border-radius: 4px;
    button {
      background-color: transparent;
      border: none;
      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
      }
    }
    input {
      border: none;
      background-color: transparent;
      width: 253px;
      height: 100%;
      font-family: $BaseFont;
      font-style: normal;
      font-weight: 200;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 1.29px;
      color: $PrimaryColorBlack;
      &:focus {
        outline: none;
      }
      &::placeholder {
        text-align: center;
      }
    }
  }
}

@include xl {
  .hero-img {
    height: 700px;
  }
  .box {
    width: 780px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .text {
      width: 450px;
      height: 80px;
      margin-top: 38px;
    }

    .search {
      width: 505px;
      height: 50px;
      text-align: center;
      margin-bottom: 38px;

      button {
        img {
          height: 30px;
          width: 30px;
        }
      }
      input {
        width: 100%;
        font-size: 24px;
      }
    }
  }
}
