.navbar {
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
}
  .menu_button {
    width: 100%;
    float: left;
    margin-left: 24px;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
  }
  .buttons_group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    margin-right: 10px;
    img {
      height: 20px;
      width: 20px;
    }
  }

