.navbar {
  height: 46px;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0px;
  z-index: 1;
  position: fixed;
  background-color: #ffffff;
}
.menu_button {
  width: 70px;
  margin-left: 24px;
  z-index: 2;

  img {
    height: 20px;
    width: 20px;
  }
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
}
.buttons_group {
  position: absolute;
    right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  //margin-right: 10px;
  z-index: 3;
  img {
    height: 20px;
    width: 20px;
  }
}

