@import "../../basics/variables";
@import "../../basics/breakpoints";
@import '../../basics/base';
.navbar {
  height: 46px;
  max-width: 414px;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0px;
  z-index: 2;
  position: fixed;
  background-color: #ffffff;
}
.menu_button {
  width: 70px;
  margin-left: 24px;
  z-index: 2;

  img {
    height: 20px;
    width: 20px;
  }
}
.logo {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  img {
    height: 30px;
    width: 30px;
  }
  .navbar-links {
    display: none;
  }
}
.buttons_group {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  //margin-right: 10px;
  z-index: 3;
  img {
    height: 20px;
    width: 20px;
  }
}

@include md {
  .navbar{
    max-width: 1186px;
  }
  .menu_button {
    display: none;
  }
  .logo {
    width: auto;
    //left: 127px;
    .navbar-links {
      display: flex;
      align-items: center;
      margin-left: 20px;
      height: 100%;
      gap: 32px;
      .navbar-title {
        font-family: $BaseFont;
        font-style: normal;
        font-weight: 200;
        font-size: 27px;
        line-height: 33px;
        letter-spacing: 1.35px;
        color: $PrimaryColorBlack;
      }
      .navbar-link {
        font-family: $BaseFont;
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.92px;
        color: $PrimaryColorBlack;
      }
      .active {
        border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
        font-weight: 400;
      }
    }
  }
  .buttons_group{
    right: 0px;
  }
}
