.open-menu {
  position: absolute;
  width: 100%;
  height: 413px;
  left: -1px;
  top: 0px;
  background-color: #FFFFFF;
  z-index: 3;
  .menu_button {
    height: 46px;
    display: flex;
    align-items: center;
  }
}
.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 367px;
  left: -1px;
  top: 46px;
  background: #ffffff;
  box-shadow: 2px 4px 10px rgba(175, 175, 175, 0.25);
  transition: 0.5s opacity ease-in-out;
  .line {
    border: 1px solid #f2f2f2;
    width: 100%;
  }
  a {
    padding-left: 20px;
    text-decoration: none;
    h3{
      text-transform: none;
  }
}
}
