@import '../../../assets/styles/basics/variables';
@import '../../../assets/styles/basics/base';
@import '../../../assets/styles/basics/breakpoints';
.link {
  //margin-left: 20px;
  //margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
   margin-top: 20px;
  // margin-left: 10px;
  h2{
    font-family: $BaseFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: right;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  a {
    text-decoration: none;
    img {
      height: 20px;
      width: 25px;
    }
  }
}
@include xl{
  .link{
    h2{
     font-size: 24px; 
    }
  }
}