@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
.card-navigate{
  width: 250px;
}
.card-restaurant {
  width: 250px;
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //margin: 10px;
  gap: 8px;
  img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
  .card-content{
    h3 {
      @include cardTitle;
    }
  
    h2 {
      text-transform: none;
      margin-bottom: 10px;
    }
  
    h3,
    h2 {
      margin-left: 20px;
    }
   
  }
  .card-stars{
    display: none;
  }
}

@include lg{
  .card-restaurant {
    justify-content: center;
    align-items: center;
   width: 379px;
    img {
      width: 379px;
      height: 235.82px;
      object-fit: cover;
    }
    .card-content {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 40px;
        margin-top: 20px;
        margin: 0;
        padding: 0;
      }
    }
    .card-stars{
      display: flex;
      flex-direction: row;
      margin-bottom: 20px;
      img{
        height: 40px;
        width: 40px;
      }
    }
  }
}
