@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
.card-navigate {
  width: 250px;
}
.card-restaurant {
  width: 250px;
  height: 232.8px;
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  img {
    width: 100%;
    height: 151.8px;
    object-fit: cover;
  }
  .card-content {
    width: 245px;
    height: 81px;
    padding: 16px;
    gap: 10px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    flex-direction: column;
    h3 {
      @include cardTitle;
    }
    h2 {
      text-transform: none;
    }
  }
  .card-stars {
    display: none;
  }
}

@include xl {
  .card-navigate{
    height: 405px;
    width: 379px;
  }
  .card-restaurant {
    align-items: center;
    width: 100%;
    height: 405px;
    max-height: 405px;
    img {
      width: 100%;
     height: 236px;
      object-fit: cover;
    }
    .card-content {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 170px;
      padding: 24px 0;
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 40px;
        margin-top: 20px;
        margin: 0;
        padding: 0;
      }
    }
    .card-stars {
      display: flex;
      flex-direction: row;
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
