.link {
  //margin-left: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  h2 {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    text-align: right;
    letter-spacing: 2px;
    text-transform: capitalize;
  }
  a {
    text-decoration: none;
    img {
      height: 20px;
      width: 20px;
    }
  }
}
