* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-family:$FontFamily;
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 1.97px;
  color: $PrimaryColorBlack;
}
h2 {
  font-family: $FontFamily;
  font-style: normal;
  font-weight: 200;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: $PrimaryColorBlack;
}
h3 {
  font-family: $FontFamily;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 2.67px;
  color: $PrimaryColorBlack;
}
