// Primary Color
$PrimaryColorBlack:#000000;
$PrimaryColorGray:#979797;

//Secondery Color

$SeconderyBeige:#F9F4EA;
$SeconderYellow: #F5BE00;
$SeconderyLightGray:#FAFAFA;

// Fonts

$FontFamily:"Helvetica Neue"