@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
@mixin line {
  font-family: $BaseFont;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.29px;
  color: $PrimaryColorBlack;
}
.about-us-container {
  background-color: $SeconderyLightGray;
  // height: 100%;
  width: 100%;
  margin-top: 20px;
}
.about-us-content {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.about-us-logo {
  margin-top: 24px;
  img {
    height: 100px;
    width: 100px;
  }
}
.about-us-down-link {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  gap: 20px;
}
.about-us-download {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 12px;
  width: 180px;
  height: 50px;
  border: 0.5px solid #000000;
  border-radius: 10px;
  gap: 7px;
  img {
    width: 20px;
    height: 25px;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 130px;
    height: 40px;
    .line-one {
      @include line;
    }
    .line-two {
      @include line;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.about-us-text {
  margin-top: 48px;
  margin-right: 20px;
  margin-bottom: 48px;
  h2 {
    margin-bottom: 16px;
  }
  .about-us-text-p {
    p {
      margin: 0;
      font-family: $BaseFont;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 2.14px;
      color: $PrimaryColorBlack;
    }
  }
}

@include xl {
  .about-us-container {
    //height:100%;
    justify-content: center;
    display: flex;
  }
  .about-us-content {
    position: relative;
    height: 100%;
    width: 1183.5px;
  }
  .about-us-logo {
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 0;
    img {
      height: 170px;
      width: 180px;
    }
  }
  .about-us-down-link {
    position: absolute;
    bottom: 40px;
    flex-direction: row;
  }

  .about-us-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 917px;
    margin-top: 40px;
    h2 {
      display: flex;
    }
    .about-us-text-p {
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: 330px;
      p {
        width: 569px;
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}
