.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 20px;
    padding-left: 0px;
  .page-item,
  .page-link {
    height: 30px;
    width: 30px;
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
    color: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-active {
    a{
      color: black;
      font-weight: 800;
    }

  }
 
}
