@import "../assets/styles/basics/variables";
@import "../assets/styles/basics/breakpoints";
@import "../assets/styles/basics/base";
.chefs-container {
  height: 100%;
  margin: 20px;
  margin-top: 60px;
}
.chefs-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 47px;
}

.chefs-sort {
  padding-top: 24px;
  padding-bottom: 38px;
  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    //justify-content: space-between;
    padding-inline-start: 0px;
    gap: 21px;
    li {
      font-family: "Helvetica Neue";
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.92px;
      color: #000000;
    }
    .active {
      border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
      font-weight: 400;
    }
  }
}
.pagination{
  // position: absolute;
  // bottom: 20px;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  width: 100%;
    height: 40px;
     padding-top: 30px;
    padding-bottom: 40px;
    gap: 20px;
    ul{
      padding-left: 0px;
    }
    .page-item,.page-link{
      height: 30px;
      width: 60px;
      font-size: 14px;
      font-weight: 600;
      list-style-type: none;
    color: #979797;
      display: flex;
      justify-content: center;
      align-items: center;
    }
   .link-active{
    color: black;
   }
}
.chef-img {
  height: 260px;
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  div {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 78px;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-family: $BaseFont;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 47px;
    letter-spacing: 2.67px;
    color: $PrimaryColorBlack;
    background: rgba(255, 255, 255, 0.8);
  }
}

@include xl {
  .chefs-container {
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
    gap: 40px;
    margin-bottom: 50px;
    max-width: 1186px;
    h2 {
      display: none;
    }
  }
  .chef-img {
    height: 340px;
    width: 360px;
    cursor: pointer;
  }
  .chefs-sort {
    margin-top: 50px;
    padding-bottom: 0;
  }
  .chefs-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}
