@import "../assets/styles/basics/variables";
@import "../assets/styles/basics/breakpoints";
@import "../assets/styles/basics/base";

.container {
  width: 100%;
  margin-top: 20px;
  position: relative;
  overflow-x: hidden;
  padding-left: 20px;
}


@include lg {
  .container {
    max-width: 1186px;
    margin: 0 auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding-left: 0px;
  }
  .restaurant-link {
    display: flex;
    width: 100%;
    justify-content: end;
  }
  .dish-restaurant-link {
    display: none;
  }
  
}
