@import "../assets/styles/basics/variables";
@import "../assets/styles/basics/breakpoints";
@import "../assets/styles/basics/base";
.restaurant-container {
  // height: 100%;
  margin: 20px;
  margin-top: 64px;
  //min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  position: relative;
  h2 {
    font-size: 18px;
  }
}

.navbar-filter {
  display: none;
}
.restaurant-content {
  min-height: 500px;
  width: 100%;
  display: flex;
  // align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  .card-navigate {
    width: 100%;
  }
  .card-restaurant {
    width: 100%;
    height: 288px;
    img {
      height: 207px;
    }
  }
}
.restuarant-sort {
  padding-top: 24px;
  margin-bottom: 37px;
}

@include xl {
  .restaurant-container {
    position: relative;
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    .restaurant-title {
      display: none;
    }
  }
  .restaurant-title {
    display: none;
  }
  .navbar-filter {
    background-color: $SeconderyLightGray;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .navbar-filter-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;

      span {
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.92px;
        color: #000000;
      }
      img {
        width: 10px;
        height: 24px;
      }
    }
  }
  .restaurant-content-loading {
    display: flex;
    //min-height: calc(100vh - 382px);
     min-height: 843px;
     max-height: 843px;
    align-items: center;
    justify-content: center;
  }
  .restaurant-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    width: 1185px;
    margin: 0 auto;
    min-height: 843px;
    max-height: 843px;
   // min-height: calc(100vh - 382px);
    .card-navigate {
      height: 405px;
      width: 379px;
    }
   
    .card-restaurant {
      width: 100%;
      height: 405px;
      max-height: 405px;
      img {
        height: 236px;
      }
    }
  }

  .restuarant-sort {
    margin-top: 50px;
    width: 1185px;
    margin-bottom: 0px;
  }
}
