@import "../assets/styles/basics/variables";
@import "../assets/styles/basics/breakpoints";
@import "../assets/styles/basics/base";
.restaurant-container {
  height: 100%;
  margin: 20px;
  margin-top: 64px;
  h2{
    font-size: 18px;
  }
}

.navbar-filter {
  display: none;
}
.restaurant-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  .card-navigate {
    width: 100%;
  }
  .card-restaurant{
    width: 100%;
    height: 288px;
    img{
      height: 207px;
    }
  }
}
.restuarant-sort {
  margin-top: 24px;
  ul {
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    padding-inline-start: 0px;
    gap: 20px;
    li {
      font-family: $BaseFont;
      font-style: normal;
      font-weight: 200;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.92px;
      color: $PrimaryColorBlack;
      cursor: pointer;
    }
    .active {
      border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
      font-weight: 400;
    }
  }
}

@include xl {
  .restaurant-container {
    margin: 0;
   margin-bottom: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 40px;
    .restaurant-title {
      display: none;
    }
  }
  .restaurant-title {
    display: none;
  }
  .navbar-filter {
    background-color: $SeconderyLightGray;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .navbar-filter-item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-items: flex-start;
      padding: 0px;
      gap: 8px;

      span {
        font-family: "Helvetica Neue";
        font-style: normal;
        font-weight: 200;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.92px;
        color: #000000;
      }
      img {
        // transform: rotate(90deg);
        width: 10px;
        height: 24px;
      }
    }
  }
  .restaurant-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    width: 1185px;
    align-items: center;
    margin: 0 auto;
    .card-navigate {
      height: 405px;
    width: 379px;
    }
    .card-restaurant{
      width: 100%;
      height: 405px;
      max-height: 405px;
      img{
        height: 236px;
      }
    }
  }

  .restuarant-sort {
     margin-top: 93px;
    width: 1185px;
    ul {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 0px;
      gap: 40px;
    }
  }
}
