@import "../../basics/variables";
@import "../../basics/base";
@import "../../basics/breakpoints";
.card-restaurant {
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
  h3 {
    @include cardTitle;
  }

  h2 {
    text-transform: none;
  }

  h3,
  h2 {
    margin-left: 20px;
  }
}

@include xl {
  .card-restaurant {
    justify-content: center;
    align-items: center;
    img {
      width: 379px;
      height: 235.82px;
      object-fit: cover;
    }
    .card-content {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      h2 {
        font-size: 24px;
      }
      h3 {
        font-size: 40px;
        margin-top: 20px;
        margin: 0;
        padding: 0;
      }
    }
  }
}
