@import "../../basics/variables";
@import "../../basics/breakpoints";
@import "../../basics/base";

.restaurant-carousel {
  // margin-left: 10px;
  margin-top: 20px;
}
.restaurant-desktop {
  display: none;
}

@include xl {
  .restaurant-carousel {
    display: none;
  }
  .restaurant-desktop {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .restaurant-items {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }
 
}
