@import "../../basics/variables";
@import "../../basics/base";

.card-restaurant-carousel {
  width: 250px;
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //margin: 10px;
  gap: 8px;
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  h3 {
    @include cardTitle;
    margin-bottom: 0;
    margin-top: 16px;
    margin-left: 20px;
  }
    h2 {
      text-transform: none;
      margin-bottom: 16px;
      margin-left: 20px;
      font-weight: 200;
      font-size: 18px;
    }
  
}
