@import "../../basics/variables";
@import "../../basics/base";
@import "../../basics/breakpoints";
.footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid #f2f2f2;
  padding: 20px;
    
}
.footer-content{
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    span {
      font-family: $BaseFont;
      font-weight: 200;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 1.92px;
      color: $PrimaryColorBlack;
    }
}

@include xl {
  .footer {
    height: 80px;
    width: 100%;
   
  }
  .footer-content{
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
