@import "../../basics/variables";
@import "../../basics/base";
@import "../../basics/breakpoints";
.chef-res-carousel-container {
    width: 100%;
  h2{
    margin: 0;
  }
  }
  .chef-res-carousel{
    margin-top: 20px;
  }
  .chef-desktop{
    display: none;
  }
  .chef-res-link{
    margin-bottom: 15px;
  }


@include xl {
  .chef-res-carousel-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    margin-left: 0px;
  
  }
  .chef-res-carousel{
    display: none;
   
  }
  .chef-desktop {
    display: flex;

  }
  .chef-items {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
