@import "../../basics/variables";
@import "../../basics/base";
@import "../../basics/breakpoints";
.chef-container {
  margin-left: 20px;
 
  display: flex;
  flex-direction: column;
}
.chef-week-img {
  height: 260px;
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
  div {
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    font-family: $BaseFont;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 47px;
    letter-spacing: 2.67px;
    color: $PrimaryColorBlack;
    background: rgba(255, 255, 255, 0.8);
  }
}
.chef-about {
  p {
    font-family: $BaseFont;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 1.25px;
  }
}

@include xl {
  .chef-container{
    margin-top: 80px;
    align-items: center;
    gap: 40px;
    margin-right: 20px;
  }
  .chef-week-img {
    width: 440px;
    height: 360px;
  }
  .chef-about-content {
    display: flex;
    width: 1183.5px;
    height: 360px;
    gap: 60px;
    //flex-direction: row;
  }
  .chef-about {
    width: 642px;
    height: 255px;
    p {
      
      font-size: 24px;
      line-height: 35px;
    }
  }
  .chef-week{
    width: 1183.5px;
    height: 372px;
  }
}
