@import "../../basics/variables";
@import "../../basics/base";
@import "../../basics/breakpoints";
.dish-card {
  padding: 0px;
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  //margin: 10px;
  img {
    width: 245px;
    height: 152px;
    object-fit: cover;
  }
}
.dish-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
  background: $SeconderyBeige;
  h3 {
    @include cardTitle;
    margin: 0;
  }
}
.dish-ing {
  width: 295px;
  height: 176px;
  p {
    font-family: $BaseFont;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.97px;
    color: $PrimaryColorBlack;
    text-transform: none;
  }
}
.dish-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 100%;
  height: 30px;
  .price-line {
    display: none;
  }
  span {
    height: 100%;
    display: flex;
    align-items: center;
  }
  div {
    width: 100%;
    margin: 5px;
    border: 0.5px solid $PrimaryColorGray;
  }
}

@include xl {
  .dish-card {
    gap: 8px;
    width: 379px;
    img {
      width: 100%;
      height: 235.82px;
      object-fit: cover;
    }
  }
  .dish-details {
    align-items: center;

    h3 {
      font-size: 24px;
    }
  }
  .dish-price {
    .price-line {
      display: flex;
    }
  }
}
