@import "../../basics/variables";
@import "../../basics/breakpoints";
@import "../../basics/base";
.dish-signature {
  background-color: $SeconderyLightGray;
  display: flex;
  width: 100%;
  height: 550px;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.dish-title-signature{
  margin-top: 20px;
}
.dish-options {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  img {
    height: 50px;
    width: 60px;
  }
  h2 {
    margin-top: 10px;
    text-transform: none;
  }
}

@include xl {
  .dish-signature {
    width: 100%;
    height: 270px;
    align-items: center;
    gap: 32px;
    margin-top: 80px;
  }
  .dish-options {
    flex-direction: row;
    gap: 40px;
    h2{
      font-size: 24px;
    }
  }
  
}
