@import "../../basics/variables";
@import "../../basics/base";
.card-dish-carousel {
  width: 250px;
  height: 450px;
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //justify-content: space-between;
  margin: 10px;
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
}
.dish-carousel-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 100%;
  height: 100%;
  background: #f9f4ea;
  justify-content: space-between;
  h3 {
    @include cardTitle;
  }
 
}

.dish-carousel-ing {
  width: 100%;
  height: 100px;
  h2 {
    text-transform: none;
  }
}
.dish-carousel-icon {
 
  img {
    height: 20px;
    width: 30px;
  }
}
.dish-carousel-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 100%;
  height: 30px;
  span {
    height: 100%;
    display: flex;
    align-items: center;
  }
  div {
    width: 256px;
    margin: 5px;
    border: 0.5px solid #979797;
  }
}
