@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
.dish-card {
  padding: 0px;
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  max-height: 375.84px;
  img {
    width: 100%;
    height: 210px;
    object-fit: cover;
  }
}
.dish-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  width: 100%;
  height: 179px;
  position: relative;
  margin-right: 10px;
  gap: 16px;

  background: $SeconderyBeige;
  h3 {
    @include cardTitle;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
  }
}
.dish-ing {
  max-width: 303px;
  max-height: 60px;
  p {
    display: flex;
    text-align: start;
    margin: 0;
    font-family: $BaseFont;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.97px;
    color: $PrimaryColorBlack;
    text-transform: none;
  }
}
.dish-price {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 303px;
  height: 30px;
  .price-line {
    display: none;
  }
  span {
    height: 100%;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
  }
  div {
    width: 100%;
    margin: 5px;
    border: 0.5px solid $PrimaryColorGray;
  }
}

@include xl {
  .dish-card {
    width: 272px;
    height: 413px;
    margin: 0px;
    img {
      width: 100%;
      height: 173.23px;
      width: 100%;
      object-fit: cover;
    }
  }
  .dish-details {
    align-items: center;
    padding: 0;
    gap: 12px;
    height: 241.29px;
    margin-right: 0px;
    margin-top: 10px;
    h3 {
      font-size: 24px;
    }
  }
  .dish-ing {
    max-width: 272px;
    min-height: 140px;
    margin-right: 20px;
    margin-left: 20px;
    p {
      display: flex;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
    }
  }
  .dish-price {
    display: flex;
    justify-content: center;
    bottom: 20px;
    .price-line {
      display: flex;
      width: 82.5px;
    }
    div{
      width: 82.5px;
    }
  }
}
