@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
.dish-modal-container {
  background-color: #ffffff;
}
.dish-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 3;
  overflow-y: scroll;
}
.dish-menu-button {
  height: 30px;
  display: flex;
  align-items: center;
  top: 0;
  z-index: 3;
  background: white;
  width: 100%;
  margin-left: 20px;

  .dish-menu-button-img {
    img {
      cursor: pointer;
      height: 18px;
      width: 18px;
    }
  }
}
.dish-modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  left: -1px;
  background: #ffffff;
  transition: 1s opacity ease-in-out;
  img {
    height: 280px;
    width: 100%;
    object-fit: cover;
  }
}
.dish-modal-details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  // gap: 35px;
  
  .dish-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 14px;
    margin-right: 40px;
    margin-top: 20px;
    padding-bottom: 35px;
    h3 {
      @include cardTitle;
      margin: 0;
    }
    p {
      margin: 0;
      padding: 0;
      font-family: $BaseFont;
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 1.97px;
      color: $PrimaryColorBlack;
    }
  }
}
.dish-modal-icon{
  display: none;
}
.dish-modal-price {
  display: none;
}
.dish-chooose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0px 0px;
  gap: 18px;
  justify-content: space-around;
}
.dish-item-choose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  //gap: 8px;
}
.dish-title-choose {
  height: 20px;
  border-bottom: 1.8px solid rgba(222, 146, 0, 0.9);
  span {
    font-family: $BaseFont;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.97px;
    color: $PrimaryColorBlack;
  }
}
@mixin dishInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  margin-top: 25px;
  span {
    font-family: $BaseFont;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.97px;
    color: $PrimaryColorBlack;
    border-bottom: none;
  }
  input[type="checkbox"] {
    height: 20px;
    width: 20px;
    background: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid #000000;
  }
}
.dish-input {
  @include dishInput;
  input[type="checkbox"]:checked {
    background-color: $PrimaryColorGray;
  }
}
.dish-input-side {
  @include dishInput;
  input[type="checkbox"] {
    border-radius: 50%;
    &[type="checkbox"]:checked {
      background-color: $PrimaryColorGray;
    }
  }
}
.dish-quantity {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  width: 113px;
  height: 20px;
  align-items: center;
  span {
    font-family: "Helvetica Neue";
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1.97px;
    color: #000000;
  }
  button {
    border: none;
    background-color: transparent;
  }
  .minus {
    font-size: 30px;
    opacity: 0.3;
  }
  .pluse {
    font-size: 30px;
  }
}

.dish-add {
  margin-top: 20px;
  button {
    @include buttonPrimary;
  }
}
@include md{
  .dish-modal{
    overflow-y: scroll;
  }
}

@include sm{
  .dish-modal{
    overflow-y: unset;
  }
}

@include xl {
  .dish-modal-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 4;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
  }

  .dish-modal {
    position: relative;
    width: 573px;
    height: auto;
    top: none;

    background-color: transparent;
    overflow-y: unset;
  }
  .dish-menu-button {
    display: flex;
    align-items: center;
    margin-left: 0px;
    background-color: transparent;
    height: auto;
    padding-bottom: 5px;
    img {
      cursor: pointer;
      content: url("../../assets/images/x-white.svg");
      height: 18px;
      width: 18px;
    }
  }
  .dish-modal-content {
    align-items: center;
    height: auto;
    top: 0;
    background-color: #ffffff;
    box-shadow: 2px 4px 10px rgb(175 175 175 / 25%);
    img {
      width: 100%;
      height: 200px;
    }
  }
  .dish-modal-details {
    margin-left: 0px;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 232px;
    height: 616px;
    //margin-top: 20px;
    .dish-info {
      margin-right: 0;
      margin-top: 10px;
      align-items: center;
      text-align: center;
      gap: 10px;
      width: 232px;
      h3 {
        font-weight: 400;
        font-size: 24px;
        line-height: 26px;
      }
      p {
        margin: 10px;
        width: 100%;
        font-weight: 200;
        font-size: 14px;
        line-height: 18px;
      }
      .dish-modal-icon{
        display: flex;
        img{
          height: 20px;
          width: 30px;
        }
      }
      .dish-modal-price {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 20px;
        gap: 5px;
        .price-line {
          display: flex;
          width: 82.5px;
          border: 0.5px solid $PrimaryColorGray;
        }
        span {
          font-weight: 400;
          font-size: 24px;
          line-height: 30px;
        }
        div {
          width: 82.5px;
          border: 0.5px solid $PrimaryColorGray;
        }
      }
    }
  }
  .dish-quantity {
    width: 100%;
  }
  .dish-chooose {
    align-items: center;
    gap: 15px;
  }
  .dish-item-choose {
    align-items: center;
  }
  .dish-inputs {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 232px;
  }
  .dish-add{
    margin-top: 0;
  }
}
