@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
.card-dish-carousel {
  width: 250px;
  height: 450px;
  background-color: $SeconderyBeige;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //justify-content: space-between;
  //margin: 10px;
  .card-dish-carousel-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}
.dish-carousel-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  width: 100%;
  height: 100%;
  background: #f9f4ea;
  justify-content: space-between;
  h3 {
    @include cardTitle;
    margin: 0;
  }
}

.dish-carousel-ing {
  max-width: 210px;
  min-height: 100px;
  p {
    font-family: "Helvetica Neue";
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1.97px;
    color: #000000;
  }
}
.dish-carousel-icon {
  img {
    height: 30px;
    width: 30px;
  }
}
.dish-carousel-price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;
  width: 100%;
  height: 30px;
  span {
    height: 100%;
    display: flex;
    align-items: center;
  }
  div {
    width: 256px;
    margin: 5px;
    border: 0.5px solid #979797;
  }
  .price-line {
    display: none;
  }
}

@include xl {
  .card-dish-carousel {
    gap: 8px;
    width: 379px;
    min-height: 655px;
    .card-dish-carousel-img {
      width: 100%;
      height: 235.82px;
      object-fit: cover;
    }
  }
  .dish-carousel-ing {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 295px;
    min-height: 176px;
    p {
      font-size: 24px;
      line-height: 30px;
    }
  }
  // .dish-carousel-icon{
  //   display: none;
  // }
  .dish-carousel-details {
    align-items: center;
    //padding: 24px 0px 8px;
    gap: 8px;

    h3 {
      font-size: 40px;
    }
  }
  .dish-carousel-price {
    justify-content: center;
    .price-line {
      display: flex;
    }
    span {
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
    }
    div {
      width: 109px;
    }
  }
}
