// BASICS
 @import './basics/variables.scss';
@import './basics/breakpoints.scss';
 @import './basics/base.scss';



// COMPONENTS
@import './components/common/home-page-link.scss';
@import './components/navbar/navbar.scss';
@import './components/navbar/open-menu';
@import './components/navbar/open-search';
@import './components/navbar/open-cart';
@import './components/hero-main/heromain.scss';

//COMPONENTS Restaurant
@import './components/restaurant/restaurant';
@import './components/restaurant/restaurantCard';
@import './components/restaurant/restaurant-page';
@import './components/restaurant/restaurantCardCarousel.scss';
@import './components/restaurant/restaurantCarousel.scss';

//COMPONENTS dish
@import './components/dishes/dishCardCarousel.scss';
@import './components/dishes/dishesCaruosel.scss';
@import './components/dishes/dish-signature.scss';
@import './components/dishes/dishCard';


////COMPONENTS shef
@import './components/chefs/chefOfWeek.scss';
@import './components/chefs/chefCard';
@import './components/chefs/chefCaruosel';

//COMPONENTS about-us
@import './components/about-us/about-us.scss';
//COMPONENTS footer
@import './components/footer/footer';
// PAGES





