@import '../../assets/styles/basics/variables';
@import '../../assets/styles/basics/base';
@import '../../assets/styles/basics/breakpoints';
.open-search{
    position: fixed;
  width: 100%;
  height: 413px;
  top: 0px;
  background-color: #FFFFFF;
  z-index: 3;
  .search-button {
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    img{
      position: absolute;
      left: 20px;
      height: 15px;
      width: 15px;
    }
  }
  h2{
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: none;

  }
  .search-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
    .search {
        margin: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 6px 12px;
        gap: 8px;
        width: 315px;
        height: 30px;
        border: 0.5px solid $PrimaryColorBlack;
        border-radius: 4px;
        button {
          background-color: transparent;
          border: none;
          img {
            height: 20px;
            width: 20px;
            object-fit: cover;
          }
        }
        input {
          border: none;
          background-color: transparent;
          width: 253px;
          height: 100%;
          font-family: $BaseFont;
          font-weight: 200;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 1.29px;
          color: $PrimaryColorBlack;
          &:focus {
            outline: none;
          }
          &::placeholder{
            text-align: center;
          }
        }
      }
  }


  @include xl{
    .open-search{
      width: 500px;
    height: 586px;
    right: 0;
    margin-top: 44px;
    position: absolute;
    .search-button{
      display: none;
    }
    }
    

  }