@import "../../assets/styles/basics/variables";
@import "../../assets/styles/basics/base";
@import "../../assets/styles/basics/breakpoints";
.open-user {
  position: fixed;
  width: 100%;
  height: 635px;
  top: 0px;

  z-index: 3;
  .user-button {
    height: 46px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: $PrimaryWhite;
    img {
      height: 15px;
      width: 15px;
      margin-left: 20px;
    }
  }
  .user-content {
    height: 590px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $PrimaryWhite;
    gap: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 40px;
  width: 351px;
  height: 288px;
  text-align: center;
  .user-info-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 14px;
    width: 311px;
    h2 {
      text-transform: none;
      line-height: 14px;
    }
  }
  .user-inputs{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  .user-info-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
    height: 52px;
    span {
      font-family: $BaseFont;
      font-weight: 200;
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 1.97px;
      color: $PrimaryColorBlack;
      opacity: 0.4;
    }
    input {
      width: 100%;
      font-family: $BaseFont;
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 18px;
      text-align: center;
      letter-spacing: 1.97px;
      color: $PrimaryColorBlack;
      border: none;
      border-bottom: 0.5px solid $PrimaryColorBlack;
      text-align: left;
    }
  }
}
.user-login-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 206px;
  height: 82px;
  button {
    @include buttonPrimary;
  }
  h2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: none;
  }
}
.user-devide-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 292px;
  height: 18px;
  div {
    width: 126.5px;
    height: 0px;
    border: 0.5px solid $PrimaryColorGray;
  }
  span {
    width: 15px;
    height: 18px;
    font-family: $BaseFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1.97px;
    color: $PrimaryColorGray;
    text-align: center;
  }
}
.user-signup{
    button {
        @include buttonPrimary;
        background-color: $PrimaryWhite;
        color: $PrimaryColorBlack;
      }
}
// open user position absolute
  @include xl{
        .open-user{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0, 0, 0, 0.7);
            flex-direction: column;
            .user-button{
                width: 573px;
                background-color: transparent;
                img{
                    content: url("../../assets/images/x-white.svg");
                    margin-left: 0px;
                    height: 20px;
                    width: 20px;
                }
            }
            .user-content{
                width: 573px;
            }
        }
        
        .user-info {
            width: 360px;
            text-align: center;
            .user-info-header {
              width: 100%;
              h3{
                font-weight: 200;
                line-height: 26px;
                font-size: 24px;
              }
              h2 {
                text-transform: none;
                line-height: 18px;
                font-size: 18px;
              }
            }
            .user-inputs{
                gap: 8px;
                width: 360px;
                height: 136px;
              }
     
        }
        

  }
